ul {
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
  margin-bottom: 10px;
  margin: 10px;
  padding: 30px;
  border-radius: 8px;
}

.licenter {
  background: rgba(170, 255, 0, 0.7);
  color: black;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: white;
  border-radius: 50px;
  list-style: none;
}
.totalActor {
  background-color: yellowgreen;
  padding: 10px 17px;
  border-radius: 50px;
}
.money {
  color: yellowgreen;
  font-weight: 900;
  font-size: 18px;
}
